Package: com.gilshahar7.notifymusic
Name: NotifyMusic
Depends: mobilesubstrate, net.limneos.libbulletin
Version: 2.0
Architecture: iphoneos-arm
Description: Creates a banner notification with song metadata when song is changed.
Maintainer: gilshahar7
Author: gilshahar7
Section: Tweaks
