<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>NotifyMusic</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.gilshahar7.notifymusicprefs</string>
			<key>key</key>
			<string>enablewhilelocked</string>
			<key>label</key>
			<string>Enable while locked</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.gilshahar7.notifymusicprefs</string>
			<key>key</key>
			<string>showalbumname</string>
			<key>label</key>
			<string>Show album name in title</string>
		</dict>
	</array>
	<key>title</key>
	<string>NotifyMusic</string>
</dict>
</plist>
